{# prettier-ignore #}
{% extends 'base.html' %}
{% load static %}

{% block title %}
  Aumento de la participacion
{% endblock %}

{% block imports %}
  <!-- ChartJS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{% endblock %}

{% block style %}
  <style>
      .table-text-success > td {
          color: var(--bs-success) !important
      }
  </style>
{% endblock style %}
{% block body %}
  <div class="d-flex flex-column flex-fill offset-xl-1 col-xl-10 col-12">
    <div class="accordion open" id="accordionExample">
      {% for item in acordeon %}
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button {% if not forloop.first %} collapsed {% endif %}" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}">
              {{ item.semana }}
            </button>
          </h2>
          <div id="collapse{{ forloop.counter }}"
               class="accordion-collapse collapse {% if forloop.first %} show {% endif %}"
               data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="row">
                <div class="col-5 d-flex align-items-center">
                  <div class="flex-column">
                    <h4>Energía ahorrada por las placas:</h4>

                    {% with item.porcentajes as porcentajes %}
                      <table class="table">
                        <tr>
                          <td>Total consumido:</td>
                          <td>{{ item.totales.total|floatformat:'1' }} kWh</td>
                          <td></td>
                          <td>{{ item.precios.0|floatformat:'1' }}€</td>
                          <td></td>
                        </tr>
                        <tr>
                          <th>Ahorro</th>
                          <th>kWh</th>
                          <th>%</th>
                          <th>€</th>
                          <th>Excedente</th>
                        </tr>

                        <tr
                            {% if porcentajes.0 >= porcentajes.1 and porcentajes.0 >= porcentajes.2 %}
                              class="table-text-success"
                            {% endif %}
                        >
                          <td>Normal:</td>
                          <td>{{ item.totales.normal|floatformat:'1' }} kWh</td>
                          <td>{{ item.porcentajes.0|floatformat:'1' }}%</td>
                          <td id="precio_normal">{{ item.precios.1|floatformat:'1' }}€</td>
                          <td id="precio_excedente_normal">{{ item.devolucion_excedente.0|floatformat:'1' }}€</td>
                        </tr>
                        <tr
                            {% if porcentajes.1 >= porcentajes.0 and porcentajes.1 >= porcentajes.2 %}
                              class="table-text-success"
                            {% endif %}
                        >
                          <td>Aumentado:</td>
                          <td>{{ item.totales.aumentado|floatformat:'1' }} kWh</td>
                          <td id="">{{ item.porcentajes.1|floatformat:'1' }}%</td>
                          <td id="precio_aumentado">{{ item.precios.2|floatformat:'1' }}€</td>
                          <td id="precio_excedente_aumentado">{{ item.devolucion_excedente.1|floatformat:'1' }}€</td>
                        </tr>
                      </table>
                    {% endwith %}
                    <!-- Formulario del Roi -->
                    <div class="input-group mb-1">
                      <span class="input-group-text justify-content-center" style="width: 2.5em">%</span>
                      <select id="porcentaje" type="number" class="form-select" name="">
                        <option value="0.05">5% (2.1kW)</option>
                        <option value="0.1" selected>10% (4.2kW)</option>
                      </select>
                    </div>
                    <div class="input-group mb-1">
                      <span class="input-group-text justify-content-center" style="width: 2.5em">€</span>
                      <input type="number" class="form-control" name="" id="precio">
                    </div>
                    <button class="btn btn-primary me-2" onclick="aaa()">Calcular</button>
                    <label id="roi" class="form-label">aa</label>
                  </div>
                </div>
                <div class="col-7">
                  {% include 'componentes/chart.html' with chart=item.chart %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <script>
      function aaa() {
          // total contratado 42 kw
          function parseNumber(elemento) {
              return Number(elemento.innerHTML.replace("%", "").replace("€", ""))
          }

          const precio = document.getElementById("precio")
          const precio_normal = document.getElementById("precio_normal")
          const precio_excedente_normal = document.getElementById("precio_excedente_normal")
          const precio_aumentado = document.getElementById("precio_aumentado")
          const precio_excedente_aumentado = document.getElementById("precio_excedente_aumentado")
          const roi = document.getElementById("roi")

          const n_precio_normal = parseNumber(precio_normal)
          const n_precio_excedente_normal = parseNumber(precio_excedente_normal)
          const n_precio_aumentado = parseNumber(precio_aumentado)
          const n_precio_excedente_aumentado = parseNumber(precio_excedente_aumentado)


          const diferencia = n_precio_aumentado - n_precio_normal + n_precio_excedente_aumentado - n_precio_excedente_normal
          roi.innerHTML = (precio.value / diferencia / 12).toFixed(1) + " Años"
      }
  </script>
{% endblock %}
