{# prettier-ignore #}
{% extends 'base.html' %}
{% load static %}

{% block title %}
  Instalación de baterías
{% endblock %}
{% block imports %}
  <!-- ChartJS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{% endblock %}

{% block style %}
  <style>
      .table-text-success > td {
          color: var(--bs-success) !important
      }

      select:invalid {
          color: var(--bs-secondary-color)
      }
  </style>
{% endblock style %}
{% block body %}
  <div class="d-flex flex-column flex-fill offset-xl-1 col-xl-10 col-12">
    <div class="accordion open" id="accordionExample">
      {% for item in acordeon %}
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button {% if not forloop.first %} collapsed {% endif %}" type="button">
              <!--data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" -->
              {{ item.semana }}
            </button>
          </h2>
          <div id="collapse{{ forloop.counter }}"
               class="accordion-collapse collapse {% if forloop.first %} show {% endif %}"
               data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="row">
                <div class="col-12 d-flex align-items-center">
                  <div class="flex-column">
                    <h4>Análisis de instalación de baterías:</h4>

                    {% with item.porcentajes as porcentajes %}
                      <table class="table">
                        <tr>
                          <td>Total consumido:</td>
                          <td data-bs-toggle="tooltip"
                              data-bs-title="Total de kWh consumidos">{{ item.total.kwh|floatformat:'1' }} kWh
                          </td>
                          <td></td>
                          <td data-bs-toggle="tooltip"
                              data-bs-title="Precio sin ahorro ni compensacion por excedente">{{ item.total.precio|floatformat:'1' }}€
                          </td>
                          <td></td>
                        </tr>
                        <tr>
                          <th data-bs-toggle="tooltip" data-bs-title="Producción actual y aumentada">Producción</th>
                          <th data-bs-toggle="tooltip" data-bs-title="kWh autoconsumidos">kWh</th>
                          <th data-bs-toggle="tooltip"
                              data-bs-title="Porcentaje del autoconsumo respecto al consumo total">%
                          </th>
                          <th data-bs-toggle="tooltip" data-bs-title="Dinero ahorrado por autoconsumo">€</th>
                          <th data-bs-toggle="tooltip"
                              data-bs-title="Dinero compensado por la venta del excedente">Excedente
                          </th>
                        </tr>

                        {% with item.actual as item %}
                          <tr>
                            <td>Actual:</td>
                            <td>{{ item.kwh|floatformat:'1' }} kWh</td>
                            <td>{{ item.porcentaje|floatformat:'1' }}%</td>
                            <td id="precio_actual">{{ item.dinero_ahorrado|floatformat:'1' }}€</td>
                            <td id="precio_excedente_actual">{{ item.dinero_excedente|floatformat:'1' }}€</td>
                          </tr>
                        {% endwith %}
                        {% with item.aumentado_5 as item %}
                          <tr>
                            <td>5 kWh:</td>
                            <td>{{ item.kwh|floatformat:'1' }} kWh</td>
                            <td>{{ item.porcentaje|floatformat:'1' }}%</td>
                            <td id="precio_5">{{ item.dinero_ahorrado|floatformat:'1' }}€</td>
                            <td id="precio_excedente_5">{{ item.dinero_excedente|floatformat:'1' }}€</td>
                          </tr>
                        {% endwith %}
                        {% with item.aumentado_10 as item %}
                          <tr>
                            <td>10 kWh:</td>
                            <td>{{ item.kwh|floatformat:'1' }} kWh</td>
                            <td>{{ item.porcentaje|floatformat:'1' }}%</td>
                            <td id="precio_10">{{ item.dinero_ahorrado|floatformat:'1' }}€</td>
                            <td id="precio_excedente_10">{{ item.dinero_excedente|floatformat:'1' }}€</td>
                          </tr>
                        {% endwith %}
                        {% with item.aumentado_15 as item %}
                          <tr>
                            <td>15 kWh:</td>
                            <td>{{ item.kwh|floatformat:'1' }} kWh</td>
                            <td>{{ item.porcentaje|floatformat:'1' }}%</td>
                            <td id="precio_15">{{ item.dinero_ahorrado|floatformat:'1' }}€</td>
                            <td id="precio_excedente_15">{{ item.dinero_excedente|floatformat:'1' }}€</td>
                          </tr>
                        {% endwith %}
                        {% with item.aumentado_20 as item %}
                          <tr>
                            <td>20 kWh:</td>
                            <td>{{ item.kwh|floatformat:'1' }} kWh</td>
                            <td>{{ item.porcentaje|floatformat:'1' }}%</td>
                            <td id="precio_20">{{ item.dinero_ahorrado|floatformat:'1' }}€</td>
                            <td id="precio_excedente_20">{{ item.dinero_excedente|floatformat:'1' }}€</td>
                          </tr>
                        {% endwith %}

                      </table>
                    {% endwith %}
                    <!-- Formulario del Roi -->
                    <div class="input-group mb-1">
                      <span class="input-group-text justify-content-center" style="width: 3em">kWh</span>
                      <select id="porcentaje" type="number" class="form-select" name="" required>
                        <option value="" disabled selected hidden>Tamaño de las baterías</option>
                        <option value="5">5 kWh</option>
                        <option value="10">10 kWh</option>
                        <option value="15">15 kWh</option>
                        <option value="20">20 kWh</option>
                      </select>
                    </div>
                    <div class="input-group mb-1">
                      <span class="input-group-text justify-content-center" style="width: 3em">€</span>
                      <!--
                      https://www.monsolar.com/bateria-litio-huawei-5kwh.html
                      3.1€ - 5
                      5.4k - 10
                      7.6k - 15
                      -->
                      <input type="number"
                             class="form-control"
                             name=""
                             id="precio"
                             placeholder="Precio de las baterías"/>
                    </div>
                    <button class="btn btn-primary me-2"
                            onclick="aaa()"
                            data-bs-toggle="tooltip"
                            data-bs-title="Calcula el tiempo de retorno de la inversión en años">
                      Calcular ROI
                    </button>
                    <label id="roi" class="form-label">ROI: </label>
                  </div>
                </div>
                <div class="col-5 visually-hidden">
                  {% include 'componentes/chart.html' with chart=item.chart %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <script>
      function aaa() {
          // total contratado 42 kw
          function parseNumber(elemento) {
              const num = Number(elemento.innerHTML.replace("%", "").replace("€", ""));
              if (isNaN(num)) {
                  throw new Error("parse")
              }
              return num
          }

          const porcentaje = document.getElementById("porcentaje")
          if (porcentaje.value === "") return;

          const precio = document.getElementById("precio")
          if (precio.value === "") return
          const precio_normal = document.getElementById("precio_normal")
          const precio_excedente_normal = document.getElementById("precio_excedente_normal")
          const precio_aumentado = document.getElementById("precio_aumentado_" + porcentaje.value)
          const precio_excedente_aumentado = document.getElementById("precio_excedente_aumentado_" + porcentaje.value)
          const roi = document.getElementById("roi")

          const n_precio_normal = parseNumber(precio_normal)
          const n_precio_excedente_normal = parseNumber(precio_excedente_normal)
          const n_precio_aumentado = parseNumber(precio_aumentado)
          const n_precio_excedente_aumentado = parseNumber(precio_excedente_aumentado)


          const diferencia = n_precio_aumentado - n_precio_normal + n_precio_excedente_aumentado - n_precio_excedente_normal
          roi.innerHTML = "ROI: " + (precio.value / diferencia / 12).toFixed(1) + " Años"
      }
  </script>
{% endblock %}
