{# prettier-ignore #}
{% extends 'base.html' %}
{% load static %}

{% block title %}
Cambios de orientacion de las placas
{% endblock %}

{% block imports %}
<!-- ChartJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{% endblock %}

{% block body %}
<div class="d-flex flex-column flex-fill offset-xl-2 col-xl-8 col-12">
  <div class="accordion open" id="accordionExample">
    {% for item in acordeon %}
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button {% if not forloop.first %} collapsed {% endif %}" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapse{{forloop.counter}}">
          {{ item.semana }}
        </button>
      </h2>
      <div id="collapse{{forloop.counter}}" class="accordion-collapse collapse {% if forloop.first %} show {% endif %}"
           data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="row" min>
            <div class="col-8">
              {% include 'componentes/chart.html' with chart=item.chart %}
            </div>
            <div class="col-4 d-flex align-items-center">
              <div class="flex-column">
                <h4>Energía ahorrada por las placas:</h4>
                • Total consumido: {{ item.totales.total|floatformat:'1' }} kW <br />
                {% with item.porcentajes as porcentajes %}
                • Neutral:
                <span {% if porcentajes.0 >= porcentajes.1 and porcentajes.0 >= porcentajes.2 %} class="text-success" {% endif %}>
                  {{ item.totales.normal|floatformat:'1' }} kW ({{ porcentajes.0|floatformat:'1' }}%) <br />
                </span>
                • Mañana:
                <span {% if porcentajes.1 >= porcentajes.0 and porcentajes.1 >= porcentajes.2 %} class="text-success" {% endif %}>
                  {{ item.totales.mañana|floatformat:'1' }} kW ({{ porcentajes.1|floatformat:'1' }}%) <br />
                </span>
                • Tarde:
                <span {% if porcentajes.2 >= porcentajes.0 and porcentajes.2 >= porcentajes.1 %} class="text-success" {% endif %}>
                  {{ item.totales.tarde|floatformat:'1' }} kW ({{ porcentajes.2|floatformat:'1' }}%) <br />
                </span>
                {% endwith %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}