<nav class="navbar navbar-expand-sm bg-body-tertiary rounded m-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">🔆 Solar DSS</a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"><span
        class="navbar-toggler-icon"></span></button>

    <div class="navbar-collapse collapse" id="navbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Administrador</a>
          <ul class="dropdown-menu shadow">
            <li>
              <a class="dropdown-item" href="/">Pagina administrador</a>
            </li>
            <li>
              <a class="dropdown-item" href="/admin/login/?next=/admin/">Django admin</a>
            </li>
            {%comment%} 
            <li>
              <hr class="dropdown-divider"/>
            </li>
            
            <li>
              <a class="dropdown-item" href="/test">Test</a>
            </li>
            {% endcomment %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/datos">Datos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Decisiones</a>
          <ul class="dropdown-menu shadow">
            <li>
              <a class="dropdown-item " href="{% url "orientacion_placas" %}">Orientación placas</a>
            </li>
            <li>
              <a class="dropdown-item " href="{% url "aumento_participacion" %}">Aumento producción</a>
            </li>
            <li>
              <a class="dropdown-item " href="{% url "baterias" %}">Instalación de baterías</a>
            </li>
          </ul>
        </li>
      </ul>
      {%comment%}
      <div class="nav-item dropdown me-2 visually-hidden">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">pepe</a>
        <ul class="dropdown-menu shadow">
          <li><a class="dropdown-item" href="#">Paco</a></li>
          <li><a class="dropdown-item" href="#">Miguel</a></li>
          <li><a class="dropdown-item" href="#">...</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
        </ul>
      </div>
      <form role="search">
        <input class="form-control visually-hidden" type="search" placeholder="Search"/>
      </form>
      {%endcomment%}
    </div>
  </div>
</nav>