{% extends 'base.html' %}
{% block title %}
  Seleccionar vecino
{% endblock %}
{% block body %}
  <h1 style="display: flex; justify-content: center; align-items: center; height: 10vh;">Administrador de red electrica de la comunidad</h1>
  <div style="display: flex; justify-content: center; align-items: center; height: 50vh;">
    <div class="col-md-4">
      <form method="get" action="{% url 'datos_vecino' %}">
        <select class="form-select" name="vecino_id" required>
          <option value="" selected>Seleccione el vecino</option>
          {% for vecino in vecinos %}
            <option value="{{ vecino.id }}">{{ vecino.nombre }}</option>
          {% endfor %}
        </select>

        <input value="2023-01-01"
               name="fecha"
               type="date"
               min="2023-01-01"
               max="2023-01-31"
               class="form-control"
               required/>

        <input type="submit" class="btn btn-primary" value="Seleccionar"/>
      </form>
    </div>
  </div>
{% endblock %}
